{% extends "::base.html.twig" %}


{% block body %}
<body>
	{% include "AppBundle:Madera:header.html.twig" %}
	

	<div  style="height: 580px; background-image: url( http://localhost/ProjetMadera/Madera/web/page-en-construction.png);background-attachment:fixed;background-repeat:no-repeat;background-position:center center;">
	</div>
{% endblock %}