{% extends "::base.html.twig" %}
{% block body %}
	<body>
		{% include "AppBundle:Madera:header.html.twig" %}
		
		<div class="container-fluid">
			<div class="row">
				<a href="{{ path('homepage') }}"  class="pull-right btn btn-info retour-list">Retour à la liste</a>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>Récapitulatif du devis n° {% if devis.refDevis is not empty %}{{ devis.refDevis }}{% endif %}</h3>
					
					Référence du projet lié à ce devis :  A REVOIR <br />
					Gamme : A REVOIR<br />
					<b>Modèle A REVOIR</b><br />
					type de remplissage : remplissage 1 A REVOIR<br />
					Finition A REVOIR 
				</div>
			</div>
		</div>
	</body>
{% endblock %}